name: Python package

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          # latest python minor
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv sync

      - name: Test code quality
        run: |
          uv add pylint
          uv sync
          uv run pylint src --fail-under=5

      - name: Test that code runs smoothly
        env:
          JETON_API: ${{ secrets.JETON_API }}
        run: uv run main.py

      - name: Upload recording.log artifact
        uses: actions/upload-artifact@v4
        with:
          name: log-file
          path: recording.log
          if-no-files-found: warn
